@import 'frappe.css';

* {
	border: none;
	border-radius: 0px;
	padding: 0;
	margin: 0;
	font-family: "JetBrains Mono Nerd Font", "MonaspiceKr Nerd Font Propo";
	font-size: 16px;
	font-weight: bold;
	min-height: 24px;
}

.modules-left,
.modules-center,
.modules-right,
#cpu,
#memory,
#temperature,
#pulseaudio,
#backlight,
#custom-spotify,
#custom-icon,
#custom-updates,
#network,
#battery,
#tray,
#idle_inhibitor,
#custom-power,
#custom-notification {
	border-radius: 3px;
	margin: 2px 0px 2px 0px;
	padding-left: 4px;
	padding-right: 4px;
}

/* ------ Modules Left ------ */
.modules-left {
	background-color: @base;
	padding-right: 5px;
	padding-left: 13px;
}

/* ------ Modules Center ------ */
.modules-center {
	background-color: @base;
	padding-right: 5px;
	padding-left: 5px;
}

/* ------ Modules Right ------ */
.modules-right {
	background-color: @base;
	padding-right: 5px;
	padding-left: 5px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu,
#temperature,
#memory {
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

#cpu {
	color: @sapphire;
}

#memory {
	color: @sapphire;
}

#temperature {
	color: @maroon;
}


#window {
	background: @base;
	color: @text;
	padding-right: 4px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0);
	background: transparent;
	border-bottom: 0px solid #ffffff;
	border-top: 0px solid #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

#clock {
	background: @base;
}

#workspaces {
	background: @base;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: @crust;
}

#workspaces button.empty {
	color: @surface2;
	font-family: JetBrainsMono Nerd Font;
}

#workspaces {
	margin: 0px 1px 0px 1px;
	padding: 0px 1px;
	font-family: JetBrainsMono Nerd Font;
}

#workspaces button {
	margin: 4px 2px;
	padding: 0px 2px;
	color: @sapphire;
	font-family: JetBrainsMono Nerd Font;
}

#workspaces button.focused {
	color: #268bd2;
}

#workspaces button:hover {
	opacity: 0.5;
	box-shadow: inherit;
	text-shadow: inherit;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
	color: @sapphire;
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Backlight ------ */
#backlight {
	color: @sapphire;
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Network ------ */
#network {
	color: @sapphire;
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Battery ------ */
#battery {
	color: @sapphire;
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Clock ------ */
#clock {
	padding-left: 10px;
	color: @text;
	font-weight: bold;
	font-size: 13px;
}

/* ------ System Tray ------ */
#tray {
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
	font-size: 18px;
	color: @sapphire;
	padding-right: 5px;
}

#custom-power {
	color: @red;
	background-color: @surface1;
	padding: 2px 9px;
	margin: 4px 2px;
	font-size: 15px;
}

#idle_inhibitor {
	color: @green;
	background-color: @surface1;
	padding: 2px 9px;
	margin: 4px 2px;
	font-size: 15px;
}

#custom-updates {
	padding: 2px 7px;
	margin: 4px 2px;
	background-color: @surface1;
}

#custom-updates.green {
	color: @text;
}

#custom-updates.yellow {
	color: @peach;
}

#custom-updates.red {
	color: @red;
}

#custom-notification {
	color: @teal;
	background-color: @surface1;
	padding: 2px 9px;
	margin: 4px 2px;
	font-size: 15px;
}


tooltip {
	background: @base;
	border: 1px solid @overlay2;
}

tooltip label {
	color: @text;
}
